.launchDetails {
  height: 100vh;
  max-height: 100%;
  width: calc(100vw - 300px);
  overflow: hidden auto;
  padding-left: 20px;
  padding-right: 20px;
}
h1,p{
  color: aqua;
}

.launchDetailsStatus {
  margin-top: 40px;
}


.LaunchProfile__image-list {
  display: block;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  padding-bottom: 100px;
}

.LaunchProfile__image {
  max-width: 100%;
  height: auto;
}